/* general */
html body {
	background-color: #000000;
	font-family: 'Halant', serif;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	color: white;
	align-items: center;
}

.main-image {
	position: absolute;
	margin: auto;
	width: 100%;
}

.main-text {
	font-size: 120px;
	color: white;
	z-index: 0;
	position: absolute;
	top: 65%;
	left: 20%;
	background: -webkit-linear-gradient(bottom left, #FF0F0F, #FFDF80);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 60%;
	line-height: 110px;
	z-index: 10;
}

.ce-image {
	overflow: hidden;
	padding: 0 !important;
	display: flex;
	align-items: center;
}

.boximg {
	height: calc(100vh / 3);
}

.boximgwidth {
	width: calc(100vw / 4);
}

.mvtitle {
	color: white;
	font-size: 40px;
}

.subtitle {
	color: white;
	font-size: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
}

.desc {
	font-size: 30px;
	color: #6e6e6d;
	display: flex;
	align-items: center;
}

.box2row {
	height: calc(100vh / 3 * 2);
}

.box3row {
	height: 100vh;
}

.box {
	height: calc(100vh / 3);
}

.box1 {
	height: calc(100vh / 3);
	background-color: rgba(51, 51, 51, .1);
}

.box2 {
	height: calc(100vh / 3);
	background-color: rgba(51, 51, 51, .2);
}

.box3 {
	height: calc(100vh / 3);
	background-color: rgba(51, 51, 51, .3);
}

.box4 {
	height: calc(100vh / 3);
	background-color: rgba(51, 51, 51, .4);
}

.moviebox {
	height: calc(100vh / 3);
	background-color: rgba(51, 51, 51);
	opacity: 0.3;
}

.logo {
	font-size: 40px;
	text-align: center;
	width: 100%;
	background: -webkit-linear-gradient(bottom left, #FF0F0F, #FFDF80);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.link {
	color: white;
	font-size: 40px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

a.link,
a.link:hover {
	color: white;
	text-decoration: none;
}

.channellogo {
	width: 40%;
	margin: 0 auto;
}

.closeX>a {
	text-align: center;
	cursor: pointer;
}

.col-lg-3 {
	align-items: center;
	display: flex;
}

.col-lg-6 {
	padding: 0 !important;
}

p {
	display: block;
	vertical-align: middle;
	width: 100%;
	padding: 0 50px;
}

.pleft {
	text-align: center;
}



/* form */
form {
	margin: 0 50px;
}

.form-payment-options {
	margin: auto;
}

.form-contact>input {
	background-color: transparent;
	border: none;
	resize: none;
	outline: none;
	font-size: 30px;
	width: 100%;
	color: white;
}

.check {
	display: block;
	position: absolute;
	border: 5px solid #AAAAAA;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	margin: 7px 0 0 0;
	left: 350px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

input[type=radio]~label {
	margin-left: 50px;
	font-size: 30px;
	color: #6e6e6d;
}

input[type="radio"] {
	position: absolute;
	visibility: hidden;
}

#venmo_form{
	display: none;
}

#paypal_form{
	display: none;
	padding: 100px;
}

div#expiration-cvv {
	display: inline-block;
}

form.form-payment-options {
    display: block;
}

.col-lg-6.account-holder {
    align-items: center;
    justify-content: center;
    display: flex;
}

div#card_form {
    height: auto;
    display: inline-grid;
	font-size: 30px;
}

select {
	background: none;
	color: #6e6e6d;
	border: none;
	align-self: center;
}

#card_form>input[type="text"] {
    background: none;
    color: #6e6e6d;
    border-style: none;
    vertical-align: top;
	outline: none;
	margin: 0 10px;
}

input#CVV {
	background-color: transparent;
	border: none;
	padding: 5px;
	padding-left: 15px;
	color: white;
	outline: none;
	width: 100px;
}



/* mobile */
@media screen and (max-width: 1024px) {
	.desc {
		font-size: 24px;
	}
	.form-contact>input {
		font-size: 24px;
		margin-left: 20px;
	}
	.boximgwidth {
		width: 100vw;
	}
	.boximg {
		height: calc(100vw/1.5);
	}
	.main-image {
		display: none;
	}
	.main-text {
		display: none;
	}
	#menu1_sub {
		display: none;
	}

	.check {
		left: 300px;
	}

	#paypal_form{
		display: none;
		padding: 50px;
	}

	input[type=radio]~label {
		font-size: 20px;
	}

	div#card_form {
	    height: auto;
	    display: inline-grid;
	    padding: 50px 0;
	    width: 75%;
	    font-size: 20px;
	}

	#card_form>input[type="text"] {
		margin: 0 5px;
	    font-size: 20px;
	}

}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
	.form-contact>input {
		font-size: 24px;
		margin-left: 20px;
	}
	#password>p {
		font-size: 24px;
	}

	.check {
		left: 300px;
	}

}